.drawerPaper {
    height: 87%;
}

.total {
    height: 20px;
    font-size: .9rem;
    margin-left: .4rem;
    width: 20px;
}

@media screen and (min-width: 600px) { 
    .drawerPaper {
        height: 90%;
        left: 10%;
        top: 5%;
        width: 80%;
    }
}