.drawerPaper {
    height: 87%;
}

.drawerPaper h2 {
    font-weight: bold;
    text-align: center;
}

.total {
    height: 20px;
    font-size: .9rem;
    margin-left: .4rem;
    width: 20px;
}

@media screen and (min-width: 600px) { 
    .drawerPaper {
        height: 90%;
        left: 10%;
        top: 5%;
        width: 80%;
    }
}

@media screen and (min-width: 768px) { 
    .drawerPaper {
        left: 0;
        margin: 0 auto;
        width: 550px;
    }
}

@media screen and (min-width: 900px) { 
    .drawerPaper {
        width: 600px;
    }
}