.container {
    width: 100%;
}

.avatar {
    height: 50px;
    width: 50px;
}

@media screen and (min-width: 600px) {
    .container {
        width: 48%;
    }
}

@media screen and (min-width: 950px) {
    .container {
        width: 31%;
    }
}