.form {
    width: 90%;
}

.googleSignContainer #container {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .form {
        width: 80%;
    }
}

@media screen and (min-width: 630px) {
    .form {
        width: 450px;
    }
}