.legendContainer {
    background-image: url(https://cdn.babysits.com/content/page/profile-wizard/barry-hello.png);
    background-position: center bottom -50px;
    background-size: 84px;
    height: 170px;
}